<div class="item-card">
  <div class="item-header">
    <div class="item-title">
      <span>{{item?.name}}</span>
      <span id="item-type">{{item?.type}}</span>
    </div>
    <span style="font-size: 14px">{{item?.rarity}}</span>
  </div>
  <div class="item-description">
    <p>{{item?.description}}</p>
  </div>
  <div class="item-footer">
    <div class="actions">
      <a (click)="deleteItem()"><mat-icon class="red-icon">clear</mat-icon></a>
      <a><mat-icon class="green-icon">call_made</mat-icon></a>
      <a *ngIf="item?.currentDurability != 0" (click)="useItem()"><mat-icon class="blue-icon">touch_app</mat-icon></a>
    </div>
    <div class="property-container">
      <div class="property">
        <mat-icon>gavel</mat-icon>
        <span>{{item?.damage}}</span>
      </div>
      <div class="property">
        <mat-icon>gpp_good</mat-icon>
        <span>{{item?.currentDurability}}</span>
      </div>
    </div>
  </div>
</div>
