.item-card {
  background-color: white;
  // outline: 1px solid rgb(231, 231, 231);
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(30, 30, 30);
  font-size: 18px;
  justify-content: space-between;
}

.item-title {
  display: flex;
  flex-direction: column;
}

#item-type {
  font-size: small;
  color: rgb(172, 120, 14);
}

.item-description {
  font-style: italic;
  color: gray;
  font-size: 12px;
}

.property-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(128, 141, 148);
  gap: 4px;
  width: 80px

}

.item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-items: center;
  align-content: center;
}


.property {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rare {
  color: goldenrod;
}

.common {
  color: rgb(183, 182, 179);
}

.uncommon {
  color: rgb(106, 102, 88);
}

a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
