  <nav>
    <ul class="navbar">
      <a class="option" routerLinkActive="selected" routerLink="players">
        <li>
          <mat-icon>people</mat-icon>
          <span>Players</span>
        </li>
      </a>
      <a class="option" routerLinkActive="selected" routerLink="items">
        <li>
          <mat-icon>handyman</mat-icon>
          <span>Items</span>
        </li>
      </a>
      <a class="option" routerLinkActive="selected" routerLink="manage">
        <li>
          <mat-icon>tune</mat-icon>
          <span>Manage</span>
        </li>
      </a>
    </ul>
  </nav>
