<div class="main">
  <div class="player-item-container">
    <div class="player-list">
      <app-player-info
        (selectedPlayer)="showPlayerItems($event)"
        (addPlayerItem)="giveItem($event)"
        (selectedPlayer)="playerName($event)"
        *ngFor="let player of playerList"
        [player]="player"
        >
      </app-player-info>
    </div>
    <div class="player-item">
      <div class="player-item-header">
        <h1>{{selectedPlayer | possessive}} Items</h1>
        <div class="search">
          <mat-icon>search</mat-icon>
          <input (keydown)="searchItem()" type="text" [(ngModel)]="searchCriteria" placeholder="Axe">
        </div>
      </div>
      <div class="player-item-list">
        <player-item-app (selectedItemToDelete)="deleteItem($event)" (selectedItem)="useItem($event)" *ngFor="let item of playerItemList" [item]="item"></player-item-app>
        <ng-container *ngIf="playerItemList.length == 0">
          <h1 class="no-info-found">Select a player</h1>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="item-detail">

  </div>
</div>
