<div class="player-info-container">
  <div class="player-info-title">
      <button (click)="addItem(player)">
        <mat-icon>playlist_add</mat-icon>
      </button>
      <span>{{player.name}}</span>
      <button (click)="selectPlayer(player)">
        <mat-icon>backpack</mat-icon>
      </button>
  </div>
  <div class="sumary-container">
    <div class="player-stats">
      <div class="stat" id="strength">
        <mat-icon class="red-icon">fitness_center</mat-icon>
        <span>Strength</span>
        <span>{{player.strength}}</span>
      </div>
      <div class="stat" id="aim">
        <mat-icon>my_location</mat-icon>
        <span>Aim</span>
        <span>{{player.aim}}</span>
      </div>
      <div class="stat" id="luck">
        <mat-icon class="green-icon">mood</mat-icon>
        <span>Luck</span>
        <span>{{player.luck}}</span>
      </div>
      <div class="stat" id="endurance">
        <mat-icon class="orange-icon">monitor_heart</mat-icon>
        <span>Endurance</span>
        <span>{{player.endurance}}</span>
      </div>
      <div class="stat" id="agility">
        <mat-icon class="brown-icon">directions_run</mat-icon>
        <span>agility</span>
        <span>{{player.agility}}</span>
      </div>
    </div>
  </div>
  <div class="player-footer">
    <div class="lp-container">
      <mat-icon>remove</mat-icon>
      <span>{{player.health}} LP</span>
      <mat-icon>add</mat-icon>
    </div>
  </div>
</div>
