  <div class="card" >
    <div class="title">
      <span>{{human.name}}</span>
      <mat-icon>cached</mat-icon>
    </div>
    <div class="stats-container">
      <div class="stat">
        <mat-icon>fitness_center</mat-icon>
        <span>Strength</span>
        <span>{{human.strength}}</span>
      </div>

      <div class="stat">
        <mat-icon>my_location</mat-icon>
        <span>Aim</span>
        <span>{{human.aim}}</span>
      </div>

      <div class="stat">
        <mat-icon>mood</mat-icon>
        <span>Luck</span>
        <span>{{human.luck}}</span>
      </div>

      <div class="stat">
        <mat-icon>monitor_heart</mat-icon>
        <span>Endurance</span>
        <span>{{human.endurance}}</span>
      </div>

      <div class="stat">
        <mat-icon>bolt</mat-icon>
        <span>Agility</span>
        <span>{{human.agility}}</span>
      </div>

    </div>
    <div class="lp-container">
      <mat-icon>indeterminate_check_box</mat-icon>
      <span>{{human.health}} LP</span>
      <mat-icon>add_box</mat-icon>
    </div>
  </div>

