/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import url(./styles/reset.scss);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
 }
*{
  box-sizing: border-box;
}

.no-info-found {
  font-size: 60px;
  color: rgb(192, 192, 192);
  padding: 0;
  margin: 0;
}

.red-icon {
  color: rgb(213, 104, 104);
}

.green-icon {
  color: rgb(123, 195, 123);
}

.blue-icon {
  color: rgb(67, 128, 185);;
}

.orange-icon {
  color: rgb(240, 183, 78);
}

.brown-icon {
  color: rgb(162, 124, 80);
}
