/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import url(./styles/reset.scss);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
 }
*{
  box-sizing: border-box;
}

.red-icon {
  color: rgb(213, 104, 104);
}

.green-icon {
  color: rgb(151, 211, 151);
}

.blue-icon {
  color: rgb(67, 128, 185);;
}
